.series-details{
  display: flex;
margin: 1rem;
  flex-direction: column;

  min-width: 15rem;

  &__cover{


    &-img{
      width: 100%;
    }
  }

&__title{
  font-size: 1.5rem;;
  margin-top: 1rem;
}
&__date{
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
&__creators{
  /*margin-top: 1rem;*/
  &-title{
    border-bottom: .3rem grey solid;
    margin-bottom: .5rem;
  }
  &-item{
    font-size: .6rem;
    margin-top: .4rem;
  }
}
}
