// @import 'yoga';
// @import 'normalize';
// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'left-side'; // aside{
//   border: black 1px solid;
//   display: flex;
//   flex-direction: column;
//   width: 25%;
//
// }
body{
  font-family: sans-serif;
  background: #666;
}
body,h1,h2,h3,p,ul {
  margin: 0;
}


.container-top{
background: green;
    &-inner{
      margin: auto;
      background: green;
      max-width: 60rem;


    }
    &-title{
      margin-left: 1rem;
    }


}

.container {
  // background: red;

  &-inner {
// background: pink;
margin: auto;
    max-width: 60rem;
    display: flex;

}
}
.main{
  &-middle{
  // display: flex;
  // flex-direction: column;
  }
}


.component{
  margin-top:1rem;
&-title{
  margin-bottom: 1rem;
}

&-list{

  display: flex;
  justify-content: space-between;
  &__item{
width:20%;
    border: yellow 1px solid;
&-img{
// width: 100%;

width: 7rem;
height: 7rem;
overflow: hidden;
img{

}

}
  }
}
}
